{% extends 'layouts/base-admin.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Kategori</a></li>
                <li class="breadcrumb-item active" aria-current="page">Daftar</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-12 mb-4"> <!-- Menambahkan margin bottom untuk memberikan jarak -->
        <a href="{% url 'Kategoribuku:create' %}" class="btn btn-primary" style="background-color: #90D26D;">Tambah</a> <!-- Mengubah warna latar belakang -->
      </div>
      <div class="col">
        <div class="card">
         <!-- Card header -->
           <div class="card-header border-0">
              <h3 class="mb-0">Daftar Kategori</h3>
            </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
              <thead class="thead-light">
                  <tr>
                      <th scope="col" class="sort" data-sort="name">ID Kategori Buku</th>
                      <th scope="col" class="sort" data-sort="budget">Nama Kategori</th>
                      <th scope="col">Action</th>
                  </tr>
              </thead>
              <tbody class="list">
                  {% for kategori in kategoris %}
                  <tr>
                      <td>{{ kategori.kategoriid }}</td>
                      <td>{{ kategori.namakategori }}</td>
                      <td>
                          <a href="{% url 'Kategoribuku:update' kategori.kategoriid %}" class="ni ni-fat-delete text-orange" title="Ubah Kategori" style="margin-right: 5px;"></a>
                          <a href="#" class="ni ni-fat-remove text-red" title="Hapus Kategori" style="margin-right: 5px;" onclick="showDeleteConfirmationModal('{% url 'Kategoribuku:delete' kategori.kategoriid %}')"></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteConfirmationModalLabel">Konfirmasi Hapus</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Apakah Anda yakin ingin menghapus data ini?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
            <a id="deleteButton" href="#" class="btn btn-danger">Hapus</a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
