<!DOCTYPE html>
<html>
<head>
    <title>Form Kategori Buku</title>
    <!-- Load Bootstrap CSS jika diperlukan -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"> 
    <style>
        .form-group {
            margin-bottom: 20px;
         }
        .form-control {
            width: 100%;
        }
         .btn {
            margin-top: 10px;
         }

    </style>
</head>
<body>
    <div class="container">
        <h2>Form Kategori Buku</h2>
        <form method="post">
            {% csrf_token %}
            <!-- Field-field formulir menggunakan elemen HTML5 -->               
            <div class="form-group">
                <label for="kategoriid">Kategori ID:</label>
                <input type="number" class="form-control" id="kategoriid" name="kategoriid" value="{{ form.instance.kategoriid }}">
            </div>
            <div class="form-group">
                <label for="namakategori">Nama Kategori:</label>
                <input type="text" class="form-control" id="namakategori" name="namakategori" value="{{ form.instance.namakategori }}">
            </div>
            <!-- Tombol submit -->
            <button type="submit" class="btn btn-primary">Simpan</button>
        </form>
    </div>
</body>
</html>
