<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Buku</title>
</head>
<body>
    <h1>Daftar Buku</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Kategori Buku</th>
                <th>ID Buku</th>
                <th>Judul</th>
                <th>Penulis</th>
                <th>Penerbit</th>
                <th>Tahun Terbit</th>
            </tr>
        </thead>
        <tbody>
            {% for buku in bukus %}
            <tr>
                <td>{{ buku.kategoriid }}</td>
                <td>{{ buku.bukuid }}</td>
                <td>{{ buku.judul }}</td>
                <td>{{ buku.penulis }}</td>
                <td>{{ buku.penerbit }}</td>
                <td>{{ buku.tahunterbit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
