<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/perpustakaan.png" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="{% url 'peminjam_dashboard' %}">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="{% url 'buku:list_peminjam' %}">
              <i class="ni ni-book-bookmark text-orange"></i>
              <span class="nav-link-text">Daftar Buku</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'Kategoribuku:kategori-read' %}">
              <i class="ni ni-books text-purple"></i>
              <span class="nav-link-text">Kategori Buku</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="{% url 'Peminjaman:read' %}">
              <i class="ni ni-archive-2 text-yellow"></i>
              <span class="nav-link-text">Peminjaman Buku</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'koleksipribadi:list' %}">
              <i class="ni ni-folder-17 text-red"></i>
              <span class="nav-link-text">Koleksi Buku</span>
            </a>
          </li>          
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'ulasanbuku:list' %}">
              <i class="ni ni-send text-green"></i>
              <span class="nav-link-text">Ulasan Buku</span>
            </a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</nav>