<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Koleksi Pribadi</title>
</head>
<body>
    <h1>Daftar Koleksi Pribadi</h1>
    <ul>
        {% for koleksi in koleksi %}
            <li>
                {{ koleksi.bukuid.judul }}
                <form action="{% url 'koleksipribadi:delete' koleksi.koleksiid %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
